@import "theme";
body {
}

header {
  background-color: primary-color('700') !important; // Same as in MemberHive Header
}

section {
  position: relative;
  height: auto;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  background-color: #f3f3f3;
  background: url('../images/bee.jpg') center 30% no-repeat;
  background-size: cover;
  padding-bottom: 2em;

  i.big-icon {
      font-size: 50px;
      margin-top: 15px;
      color: $primary-color;
    }
  .wip {
      color: $primary-color;
  }
}

section.pricing {
  li {
    font-size: 20px;
    i {
      color: $primary-color;
    }
  }

}


.thin-font {
  font-weight: 200;
}

section.secure {
  background-color: #37474f;
  color: white;
}
section.contact {
  background-color: #E8EAF6;
}

section.register {
  background-color: #FFF3E0;
  
}
