/* line 1, ../sass/style.scss */
.slogan {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url("../images/bee.jpg") center 30% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 14, ../sass/style.scss */
.slogan h1 {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.55);
  padding-top: 100px;
  font-size: 65px;
  font-weight: bold;
}
/* line 21, ../sass/style.scss */
.slogan h2 {
  color: #e6e6e6;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
  font-size: 21px;
}
/* line 26, ../sass/style.scss */
.slogan .slogan-cards {
  display: flex;
  flex-direction: row;
}
/* line 29, ../sass/style.scss */
.slogan .slogan-cards .slogan-card {
  margin: 10px;
}
/* line 30, ../sass/style.scss */
.slogan .slogan-cards .slogan-card i {
  font-size: 50px;
  margin-top: 15px;
}
/* line 34, ../sass/style.scss */
.slogan .slogan-cards .slogan-card div {
  font-size: 16px;
}
