/* line 5, ../sass/style.scss */
header {
  background-color: #1976d2 !important;
}

/* line 9, ../sass/style.scss */
section {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 20, ../sass/style.scss */
.slogan {
  background-color: #f3f3f3;
  background: url("../images/bee.jpg") center 30% no-repeat;
  background-size: cover;
  padding-bottom: 2em;
}
/* line 26, ../sass/style.scss */
.slogan i.big-icon {
  font-size: 50px;
  margin-top: 15px;
  color: #2196f3;
}
/* line 31, ../sass/style.scss */
.slogan .wip {
  color: #2196f3;
}

/* line 37, ../sass/style.scss */
section.pricing li {
  font-size: 20px;
}
/* line 39, ../sass/style.scss */
section.pricing li i {
  color: #2196f3;
}

/* line 47, ../sass/style.scss */
.thin-font {
  font-weight: 200;
}

/* line 51, ../sass/style.scss */
section.secure {
  background-color: #37474f;
  color: white;
}

/* line 55, ../sass/style.scss */
section.contact {
  background-color: #E8EAF6;
}

/* line 59, ../sass/style.scss */
section.register {
  background-color: #FFF3E0;
}
